.App {
  margin: 0;
}

.nav-container {
  display: block;
  position: relative;
}

.amount-container {
  position: absolute;
  top: -0.8rem;
  right: -0.6rem;
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 50%;
  background: var(--clr-primary-light);
  display: flex;
  align-items: center;
  justify-content: center;
}
